.HeaderComponent{

  .primary-header {
    height: 48px;
    color: white;
    background-color: #242a84;
  }

  .secondary-header {
    height: 48px;
    color: white !important;
    background-color: #0c34e8;
  }
}