.FileUploaderComponent__upload-btn {
    display: flex !important; // overwrites bootstrap's _buttons.scss
    padding: 8px 16px !important; // overwrites bootstrap's _buttons.scss
    align-items: center;
    background-color: white !important;
    border-radius: 10px !important;
}

.FileUploaderComponent__upload-btn p {
    margin-left: 12px;
    margin-bottom: 0px; // overwrites bootstrap's _reboot.scss
    font-size: 18px;
}

.FileUploaderComponent__upload-btn i {
    font-size: 26px;
}

.FileUploaderComponent__trash-icon {
    font-size: 25px;
    color: red;
    cursor: pointer;
}

.FileUploaderComponent__upload-btn_required::after {
    content: "*";
    color: red;
    padding-left: 2px;
    font-weight: bold;
}
