.ModalsPortal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  /* Assicurati che il contenitore sia centrato */
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s linear;
}

.ModalsPortal__wrapper.open {
  visibility: visible;
  opacity: 1;
}

.ModalsPortal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;  /* Assicurati che il backdrop sia sotto il contenitore del modal */
}

.ModalsPortal__container {
  position: relative;
  max-width: 600px;  /* Imposta una larghezza massima per il modal */
  max-height: 80%;
  background-clip: border-box;
  background-color: white;
  border: 4px solid white;
  box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 50%);
  border-radius: 8px;
  padding: 12px;
  outline: 0;
  overflow: auto;
  z-index: 1;  /* Assicurati che il contenitore del modal sia sopra il backdrop */
}
