.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}

.questionContainer {
  margin-bottom: 20px;
  padding: 2em;
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
}

.answerGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr/* Una colonna */ !important;
  gap: 10px;
  text-align: left !important;
  /* Layout a una colonna su schermi piï¿½ piccoli */
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr; /* Una colonna */
  }
}
button:focus {
  outline: none !important;
}
.answerButton {
  padding: 10px;
  border: 1px solid rgba(161, 175, 243, 0.53);
  border-radius: 5px;
  cursor: pointer;
  outline: none !important;

}

